version: '3.8'
services:
  user-service:
    build:
      context: ./user-management
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "3003:3003"
    volumes:
      - ./user-management/uploads:/app/uploads
      - ./user-management/logs:/app/logs
    depends_on:
      - mongo
  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27019:27017"
    volumes:
      - mongo-data:/data/db
  mongo-express:
    image: mongo-express:1.0.0-20
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_URL=mongodb://mongo:27017/
    depends_on:
      - mongo
volumes:
  mongo-data: