version: '3.8'
services:
  user-service:
    build:
      context: ./user-management
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "3003:3003"
    volumes:
      - ./user-management/uploads:/app/uploads
      - ./user-management/logs:/app/logs
    depends_on:
      - mongo
  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27019:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data: